@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar settings */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    @apply bg-orange-faded rounded-xl;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-secondary;
}


/* text */

p {
    @apply text-base font-normal;
}

h2 {
    @apply text-3xl font-extrabold;
}


/* table */

table {
    @apply border-2 border-collapse border-none rounded-md border-orange-faded;
    box-shadow: 0 0 0 1px #3d29730d;
    /* this draws the table border   */
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th,
td {
    @apply p-6 text-lg font-semibold text-left;
}

th {
    @apply font-bold opacity-50;
}

tr {
    @apply w-full border-b-2 cursor-pointer border-orange-faded;
}

thead>tr {
    @apply cursor-default;
}


/* button */

.button {
    @apply flex w-fit items-center justify-center gap-2 px-4 py-2 text-lg font-semibold text-white rounded-full bg-orange-secondary;
}

.button:disabled {
    @apply bg-gray;
}

.button svg {
    @apply h-4 w-4;
}

.icon-button {
    @apply text-black bg-transparent stroke-2;
}

.icon-button>svg {
    @apply text-black bg-transparent stroke-black h-7 w-7;
}


/* inputs */

label {
    @apply font-semibold text-sm;
}

.input {
    @apply w-80 px-4 py-3 border-2 rounded-lg outline-none border-gray text-base font-semibold;
}

.input:focus {
    @apply border-orange-secondary;
}


/* keywords */

.keyword-list {
    @apply flex items-center gap-3;
}

.keyword-list>span {
    @apply p-4 rounded-3xl bg-orange text-white font-semibold text-sm;
}


/* modal */

/* .ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    @apply flex justify-center items-center bg-gray-background !important;
} */

.modal {
    /* background: none; */
    @apply w-[465px] px-16 py-10 bg-white rounded-md;
}

.modal form {
    @apply flex flex-col gap-5;
}

.modal .line {
    @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
}

.modal>form>button {
    @apply mt-5 w-full bg-orange-secondary;
}

.row-center {
    @apply flex flex-row items-center justify-center gap-3;
}

.delete-button {
    @apply bg-red;
}

.modal-ad {
    @apply w-[600px] px-16 py-10 bg-white rounded-md;
}


/* modalReg */

/* .ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    @apply flex justify-center items-center bg-gray-background !important;
} */

.modalReg {
    /* background: none; */
    @apply w-[465px] px-16 py-10 bg-white rounded-md;
    /* transform: translate(140%, 0%);  */
    position: fixed;
    right: 10px;
    /* height:100vh; 
    min-height: 100px; */
}

.modalReg form {
    @apply flex flex-col gap-5;
}

.modalReg .line {
    @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
}

.modalReg>form>button {
    @apply mt-5 w-full bg-orange-accent;
}

.row-center {
    @apply flex flex-row items-center justify-center gap-3;
}

.delete-button {
    @apply bg-red;
}

.modalReg-ad {
    @apply w-[600px] px-16 py-10 bg-white rounded-md;
}

/* logo position in register */
.register-loggo {
    transform: translate(10%, 0%);
}

.register-backgroundLoggo{
    text-align: center;
    background-image: url('./people_helping_people.png');
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
}

/* text for the checkbox */
.shiftText-right{
    transform: translate(20%, 0%);
}

.shift-checkbox{
    transform: translate(-400%, 120%);
    width: 25px;
    height: 25px;
}

/* special check toggle */

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  /*  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */


/* special info section */

.section-container {
    @apply font-semibold text-lg flex flex-col gap-5 w-auto m-[1px];
}

.section-title {
    @apply font-semibold text-lg;
}

.section-container .fields {
    @apply rounded-md p-6 bg-orange;
    box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-columns: max-content max-content;
    width:500px;
}

.rows {
    @apply flex flex-row;
    justify-content: space-between
}

.field-key {
    @apply text-orange-secondary;
}

.reading-card {
    @apply flex flex-col gap-3 p-6 border-t-[5px] w-max rounded-md m-[1px];
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.statistic-card {
    @apply flex flex-col gap-3 p-10 border-t-[5px] border-orange-accent w-max rounded-md m-[1px];
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}