/* layout */

.user-layout {
  @apply flex w-screen h-screen flex-col;
}

.user-content {
  @apply flex flex-row overflow-y-auto gap-7 p-4;
}

.user-content-main {
  @apply flex flex-col w-screen overflow-y-auto gap-7;
}

.menu {
  @apply w-full bg-orange-faded flex flex-row pr-10 pl-10 pt-4 pb-2 justify-between items-center gap-12;
}

.nav {
  @apply flex flex-row w-[90%] gap-5;
}

/* tabs */
.book-tabs {
  @apply flex gap-5;
}

.book-tabs > div {
  @apply py-2 px-3 rounded-3xl cursor-pointer  bg-transparent text-black opacity-50 font-semibold text-sm;
}

.book-tabs > div.active {
  @apply opacity-100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

/* books layout */
.books {
  @apply flex flex-wrap gap-4 m-[1px];
}

/* book card */

.book-card {
  @apply pb-6 pl-6 rounded-3xl flex flex-col gap-3 min-w-[300px];
  box-shadow: 0px 0px 2px #7b61ff;
}

.book-card-details {
  @apply pt-6 rounded-3xl flex flex-col gap-3 min-w-[300px];
}

.rented {
  box-shadow: 0px 0px 2px #999999;
}

.book-group {
  @apply flex flex-col gap-1;
}

.card-heading {
  @apply flex items-center;
}

.card-heading > p:first-of-type {
  @apply font-semibold text-base;
}

.card-heading > p {
  @apply font-semibold text-sm;
}

.title {
  @apply text-[28px] font-semibold;
}

.keywords {
  @apply font-semibold text-sm opacity-50;
}
